<mat-card style="text-align: center;">
  <mat-card-header>
    <mat-card-title>About</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list style="text-align: center;">
      <mat-list-item style="text-align: center;">Username</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Age</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Family</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Eat</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Race</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
