<app-header></app-header>
<main>
  <!-- <nav>
    <a [routerLink]="['/home']" routerLinkActive="active">HOME</a>
    <a [routerLink]="['/login']" routerLinkActive="active">LOGIN</a>
    <a [routerLink]="['/register']" routerLinkActive="active">REGISTER</a>
    <a [routerLink]="['/friends']" routerLinkActive="active">FRIENDS LIST</a>
    <a [routerLink]="['/about']" routerLinkActive="active">ABOUT</a>
  </nav> -->
  <!-- <router-outlet></router-outlet> -->
  <app-about></app-about>
  <br/>
  <app-login></app-login>
  <br/>
  <app-register></app-register>
  <br/>
  <app-friends></app-friends>
</main>
